body {
    width: 99%;
    height: 900px;
    color: white;
    font-family: monospace;
    background-image: linear-gradient(to left, orange, #FF6347);
    font-size: 15px;
   }

   .jumbotron {
    background-image: url("../../assets/images/cartoonburgers.jpg");
    margin: -20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

  li .devour {
    margin: 10px;
    margin-left: auto;

  }


  #top-bar {
    margin-top: 28px;
  }
  
  .spacing-reset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  .list-reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0;
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 990px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 990px;
    }
  }
  
  .enter_section {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #enter_text {
    width: 400px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 38px;
  }
  
  .task {
    border-color: black;
    border-style: solid;
    border-width: 3px;
  }
  
  .button-size {
    padding-bottom: 20px;
  }
  
  #text-enter-button {
    margin-top: 10px;
    margin-bottom: 18px;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  .burger-row {
    padding: 10px 0;
  }